<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        .style-form{margin-top: 20px; margin-left: 30px;}
        .style-button{margin-left: 100px;}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <img class="navbar-brand" src="https://images-ext-2.discordapp.net/external/v8GEwxpOUsobq20sy2aTf4kOwD2R37nTWEZL3Y44jmo/%3F_nc_cat%3D107%26ccb%3D1-5%26_nc_sid%3D5cd70e%26_nc_eui2%3DAeFXSVX47nvaHsLl-NhSgwlq6u5Wj_l_Wi7q7laP-X9aLuZHUCo03XpmYI3zhoGv-EcEvRa5ZNuyDf-W6MHm7MaT%26_nc_ohc%3DikqO-rEXfX8AX9yuYQP%26_nc_ht%3Dscontent.fkkc1-1.fna%26oh%3D00_AT_2jPTizOukMAgOg5GsauXvT6VWXcEI5BsC7-DiceQMng%26oe%3D622B7E75/https/scontent.fkkc1-1.fna.fbcdn.net/v/t39.30808-6/275423173_4855741387855032_5796922971706807414_n.jpg" width="100" height="40" alt="CP : COLLEGE OF COMPUTING"/>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
      </nav>
    <form class= "style-form" action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button type="submit" class="btn btn-success">บันทึก</button>
        
    </form>

</body>
</html>